.main{
  width: 100%;
  min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 color: #3f3f3f;
}
.superTitle{
  position: absolute;
width: 699px;
height: 81px;
left: 91px;
top: 206px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 82px;

}
.separator{
  position: absolute;
width: 720px;
height: 30px;
left: -12px;
top: 226px;

background: #FF8B8B;
}
.imgBlk{
  width: 200px;
  height: 80px;
  text-align: center;
  margin: auto; 
}
.imgBlk img{
  max-width: 100%;
  max-height: 100%;
}

.imgBox{
  height: 60vh;
}

.imgBox img{
  max-height: 100%;
  object-fit: cover;
 
}
.carousel{
 width: 100%;
 text-align: center;
 padding: 1rem 0;

}

.info{
  display: flex;
}
.info p{
  text-align: justify;
  margin-top: 1rem;
}
.About, .ourStudent{
  width: 100%;
   text-align: center;
    padding: 2rem;
    line-height: 1.4rem;
}


.opp_main{
  min-height: 60vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 2px solid;
  margin: 1rem auto;
}

.apply{
    background: #3E442B;
    padding: .5rem 1rem;
    color: white;
}

.apply:hover{
    background: rgb(135, 148, 92);
   color: rgb(22, 24, 15);
   cursor: pointer;
}

.job_descip{
  line-height: 1.5rem;
  text-align: justify;
}
.job_descip p{
  margin: 1rem 0;
}

