.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #3f3f3f;
}

.superTitle {
  text-align: start;
  color: #3F3F3F;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 60px;
  line-height: 82px;
  z-index: 1;

}

.separator {
  width: 100%;
  height: 3vh;

  margin-top: -3vh;
  margin-bottom: 1vh;
  z-index: -1;
  background: #FF8B8B;
}

.imgBlk {
  width: 200px;
  height: 80px;
  text-align: center;
  margin: auto;
}

.imgBlk img {
  max-width: 100%;
  max-height: 100%;
}

.imgBox {
  height: 60vh;
}

.imgBox img {
  max-height: 100%;
  object-fit: cover;
}

.superRedSeparator {
  width:100%;
  height: 7vh;
  margin-top: -5vh;
  z-index: -1;
  background: #D12F2F;

}

.introSection {
  display: flex;
  justify-items: left;
  margin-top: 100px;
}

.firstIntro {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-items: stretch;
  justify-content: center;
  align-items: center;
}

.introtext {
  /* Envision the day-to-day requirements of your future career */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;

  color: #3F3F3F;


}

.introHeader {
  /* See the future */


  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 95px;
  align-self: flex-start;
  color: #D12F2F;


}

.footMenu {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  margin-top: 1rem;
  color: #FDFDFD;
  justify-content: space-between;
}

.leftFooterBlock {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;

  color: #FDFDFD;
}

.rightFooterBlock {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;

  color: #FDFDFD;
}

.footer {
  display: flex;
  flex-direction: row;
  background: #3f3f3f;
  padding: 1rem;
  margin-top:1rem;
  justify-items: center;
}

.footerCol {
align-items:center;
flex-direction:row;
}

.copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  align-self: center;
text-align: center;
  color: #FDFDFD;
}

.introSection {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  width: 50%;
  align-items: center;
}

.badBusinessPeopleWithBulb {
  align-self: flex-end;
  height: auto;
}

.info {
  margin-top: 150px;
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 20vh;
}

.info img {
  height: 400px;
}

.About,
.ourStudent {
  width: 70vh;
  text-align: center;
  padding-left: 2rem;
  text-align: left;


}

.studentText {
  font-size: 18px;
}

.opp_main {
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 2px solid;
  margin: 1rem auto;
}

.apply {
  background: #3E442B;
  padding: .5rem 1rem;
  color: white;
}

.apply:hover {
  background: rgb(135, 148, 92);
  color: rgb(22, 24, 15);
  cursor: pointer;
}

.job_descip {
  line-height: 1.5rem;
  text-align: justify;
}

.job_descip p {
  margin: 1rem 0;
}

.opportunity_logo img {
  width: 20%;
}