.header{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  /* background: #3E442B; */
  background: #3f3f3f;
}

/* .searchBar{
  width: 30%;
  text-align: center;
}
.input_Search{
  padding: .5rem;
  width: 60%;
}
.input_btn{
    padding: .5rem;
} */

.nav{
  width: 30%;
}


.nav, .footer{
 width: auto;
 text-align: center;
}

.footer{
   background: #3f3f3f;
  padding: 1rem;
}
.footer p{
  font-size: .8rem;
}

.nav ul{
  width: auto;
   padding: 0;
  display: flex;
   color: #3f3f3f;
}

.nav ul li{
  display: inline-block;
  margin: .5rem;
  padding-left: .5rem;
  border-left: 1px solid;
    color: white;
}

.nav ul li:hover{
  color: #d12f2f;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  .header{
    flex-direction: column;
    height: 12rem;
    justify-content: space-around;
  }
  .searchBar{
  width: 60%;
  text-align: center;
}
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
.nav{
  width: 50%;
}
}