.header {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  /* background: #3E442B; */

}

.searchBar {
  width: 30%;
  text-align: center;
}

.input_Search {
  padding: .5rem;
  width: 60%;
}

.input_btn {
  padding: .5rem;
}

.nav {
  width: auto;
  font-family: Open Sans;
}


.navStyle {
  list-style-type: none;
  margin-left: 15px;
  align-items: center;
  text-decoration: none;
}

.nav ul {
  width: auto;
  padding: 0;
  display: flex;
  color: #3f3f3f;
  text-decoration: none;
}

.nav ul li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  display: flex;
  color: #3f3f3f;
  text-decoration: none;
  white-space: nowrap;
  ;
}

.nav ul li:hover {
  color: #d12f2f;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.signAndImageLanding {
  display: flex;
  justify-content: center;

}

.signLandibOneMoreDiv {
  align-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgb(211, 38, 38);
  font-weight: 600;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: -30px;
  margin-top: 40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: white;
  }

  .header {
    flex-direction: column;
    height: 12rem;
    justify-content: space-around;
  }

  .searchBar {
    width: 60%;
    text-align: center;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .nav {
    width: 50%;
  }
}

.you_are_logged_in {
  color: rgb(211, 38, 38);
  margin-left: 600px;

}

.personLogIn {
  width: 25px;

}

.up-login-logOut {
  display: flex;
  right: 10vh;
  top: 10px;
}

.logout {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logout p {
  font-size: 14px;
  margin-left: 10px;
}

.logout button {
  background-color: #fff;
  border: hidden;
  cursor: pointer;
  font-size: 14px;
}

.logout button:hover {
  color: #d12f2f;
}


.logout-sign {
  width: 20px;
  margin-left: 10px;
}