.mainRegister {
  min-height: 80vh;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.mainRegister h3 {
  margin-right: 50px;
}

.ourStudent {
  /* Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum . */
  /* comment */
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  letter-spacing: 0.05em;

  color: #000000;
}

.sudentpic {
  max-width: 50vw;
  object-fit: cover;
}

.studentPara {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  text-align: left;
  text-justify: inter-word;
  letter-spacing: 0.05em;

  color: #000000;
}

.infotitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
}

.info {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-right: 5rem;
}

.registerForm {
  width: auto;
  margin: auto;
}

.div-form {
  width: 30vw;
  min-height: 15rem;
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-form-graduates {
  width: 50vw;
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA);
  display: flex;
  align-items: center;
  justify-content: center;
}


.div-form ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form ul input {
  margin: .5rem auto;
  padding: .5rem;
}

.div-form li {
  margin-top: 10px;
}

.landingsign {
  display: flex;
  flex-direction: column;

}

.formline {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 2px;
  align-items: center;
}

.formline input {
  padding: 3px;
  width: 200px;
}

.formline label {
  font-size: 14px;
  align-self: flex-start;
}

.formline h2 {
  margin-bottom: 30px;
  margin-top: 20px;
}

.grey {
  background-color: #FDFDFD;
}

.div-form li label {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

}

.div-form button {
  margin-top: 30px;
  padding: 10px;
  background-color: #259654;
  width: 170px;
  height: 45px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.div-form button:hover {
  background-color: #fff;
  color: #259654;
}

.div-form label {
  text-align: left;
}

.div-form textarea {
  width: 500px;
  padding: .5rem;
}

form ul li {
  list-style-type: none;
}

label input {
  width: 60%;
  font-size: 20px;
}

.select {
  width: 500px;
  padding: .5rem;
}


.simpleNavList {
  display: flex;
  color: #3f3f3f;
  text-decoration: none;
  white-space: nowrap;

}

.btn {
  border: none;
  border-radius: 10px;
  width: 80px;
  padding: 1rem 0;
}

.interestArea label {
  width: 60%;
  margin: auto;
  display: flex;
  border: 1px solid #3f3f3f;
}

.interestArea label p {
  flex: 4;
  text-align: right;
}

.interestArea label input {
  flex: 1;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  padding: 10px;
  margin: auto;
}

.select {
  padding: .5rem;
}

.btn:hover {
  background: #d12f2f;
  color: orange;
}

h3 {
  margin: 1rem 0;
}

.imgBlk {
  display: flex;
  justify-items: flex-start;
  width: 300px;
  height: 100px;
  margin: 0;

}

.brandbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: orange;
  align-items: center;

}

.imgBlk img {
  max-width: 100%;
}



.signHome {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.rowAligned {
  align-items: center;
}

.justified {
  display: flex;
  justify-content: space-around;
}

.-SignUp {
  display: flex;
  align-items: center;
}

.SignUp img {
  width: 637px;
}

.singUpBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.backBtnSignUp {
  background-color: #259654;
  padding: 10px 20px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 10px;

}

.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;

}

/* The actual popup (appears on top) */
.popuptext {
  visibility: hidden;

}

/* Popup arrow */
.popup .show::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -10px;
  margin-left: 190px;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.buttonSignInHome {
  margin-top: 30px;
  padding: 10px;
  background-color: #259654;
  width: 150px;
  height: 45px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 10px;
  align-self: center;
}

.buttonSignInHome:hover {
  background-color: #fff;
  color: #259654;
}

.resetFilters {
  background-color: #259654;
  width: 150px;
  height: 45px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.resetFilters:hover {
  background-color: #fff;
  color: #259654;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FDFDFD;
}

.div-sign-in-Page {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #FDFDFD;
  padding: 30px;
}


.signInPage {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 80px;
}

.signInPage input {
  padding: 10px;
}

.div-sign-in {
  display: flex;
  flex-direction: column;

}

.div-sign-in-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-sign-up {
  text-decoration: none;
  color: #259654;
}

.link-sign-up:hover {
  text-decoration: none;
  color: black;
}