.companiesSection{

 padding: 1rem;
text-align: center;
}


.company_details{
  width: 100%;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  margin-bottom: 1rem;
 
}

.company_content{
  flex: 2;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comapny_descript{
  margin: .5rem 0;
  line-height: 1.5rem;
}

.name_descrip{
  display: flex;
  justify-content: space-around;
}

.application_Date{
  display: flex;
 justify-content: space-around;
}

.company_logo{
 width: 12%;
}

.company_link{
  color: rgb(39, 42, 27);
  text-decoration: none;
}

.opportunity_details:hover{
  background: #3E442B;
  color: white;
}

.readMore{
  padding: .5rem;
    background: #3E442B;
      color: white;
}

.readMore:hover{
   background: rgb(118, 129, 81);
   color: rgb(40, 44, 28);
   cursor: pointer;
}