.header{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background: #3E442B;
}

.searchBar{
  width: 30%;
  text-align: center;
}
.input_Search{
  padding: .5rem;
  width: 60%;
}
.input_btn{
    padding: .5rem;
}
.title{
  min-width: 30%;
  text-align: center;
}

.nav, .footer{
 width: auto;
 text-align: center;
}

.footer{
 background: #3E442B;
  padding: 1rem;
}
.footer p{
  font-size: .8rem;
}

.nav ul{
  width: auto;
   padding: 0;
  display: flex;
}

.nav ul li{
  display: inline-block;
  margin: .5rem;
  padding-left: .5rem;
  border-left: 1px solid;
   
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  .header{
    flex-direction: column;
    height: 12rem;
    justify-content: space-around;
  }
  .searchBar{
  width: 60%;
  text-align: center;
}
}
@media only screen and (min-width: 801px) and (max-width: 1200px) {
.nav{
  width: 50%;
}
.searchBar{
  width: 300%;
}
.title{
  width: 40%;
}
}