.company{
  padding: 1rem;

}
.optional{
  width: 100%;
  height: 100px;
 text-align: center;

}
.mainContent{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
 

}

.link_Opportunity{
  text-decoration: none;
  color: black;
}

.navStyle, .title{
  color: white;
}

.link_Opportunity:hover{
  background: gray;
  color: white;
}

.comp_profile{
  width: 30%;
  max-height: 400px; 
  text-align: center;
    border: 2px solid;
    padding: .5rem;
}
.imag{
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 4rem;
  border-radius: 50%;
  border: 2px solid;
  background: gray;
}

.comp_general{
  width: 65%;
 
}

.aboutUs{
  width: 100%;
  border: 2px solid;
  height: 100px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.corp_vid{
    padding: 1rem;
  width: 100%;
  
  height: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.opp_section{
  text-align: center;
    padding: 1rem;
      background: rgb(199, 199, 199);
}

.opportunities{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;

}

.SingleOpp{
  border: 2px solid;
  padding: .5rem;
  text-align: center;
}

.fieldInfo{
  margin: .5rem;
}

.bold{
  font-weight: bold;
}